<nav class="nav nav-tabs">
	<div class="container-fluid">
		<ul class="nav navbar-nav">
			<li class="{{active.amHours}}" ng-click="setHeaderActive('amHours')"><a
				href="#/hours">AM Hours</a></li>
			<li class="{{active.ktHours}}" ng-click="setHeaderActive('ktHours')"><a
				href="#/kt">KT Hours</a></li>
			<li class="{{active.fixedHours}}" ng-click="setHeaderActive('fixedHours')"><a
				href="#/fixed" >Fixed Hours</a></li>
				<li class="{{active.report}}" ng-click="setHeaderActive('report')"><a
				href="#/report" >Report</a></li>
		</ul>
	</div>
</nav>