<blockquote>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
		posuere erat a ante.</p>
	<small> <cite title="Source Title">ABF Admin</cite></small>
</blockquote>

<div class="well well-sm">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Master data - Offshore Price</h3>
		</div>
		<div class="panel-body">
			<div data-ng-switch="currentView">
			<div data-ng-switch-when="new">
					<form name="offshoreNewForm" >
						<div class="form-group">
							<label for="select" class="col-lg-2 control-label">Business Line</label>
							<div class="col-lg-10">
								<select class="form-control"  data-ng-model="price.businessLineId" required="required">
							      <option data-ng-repeat="option in blines" value="{{option.businesslineId}}">{{option.businesslineName}}</option>
							    </select>
							</div>
						</div>
						<div class="form-group">
							<label for="select" class="col-lg-2 control-label">Band</label>
							<div class="col-lg-10">
								<select class="form-control"  data-ng-model="price.bandId" required="required">
							      <option data-ng-repeat="option in bands" value="{{option.bandId}}">{{option.bandName}}</option>
							    </select>
							</div>
						</div>
						<div class="form-group">
							<label for="select" class="col-lg-2 control-label">Stay</label>
							<div class="col-lg-10">
								<select class="form-control"  data-ng-model="price.stayTypeId" required="required">
							      <option data-ng-repeat="option in stayTypes" value="{{option.stayTypeId}}">{{option.stayType}}</option>
							    </select>
							</div>
						</div>
						<div class="form-group">
						  <label class="control-label" for="focusedInput">Price</label>
						  <input class="form-control" id="focusedInput" type="text" maxlength="4" pattern="\d{0,4}" data-ng-model="price.price" required="required" placeholder="offshore">
						</div>
						<div class="form-group">
					      <label for="textArea" class="col-lg-2 control-label">Description</label>
					      <div class="col-lg-10">
					        <textarea class="form-control" rows="3" id="textArea" required="required" data-ng-model="price.description"></textarea>
					        <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
					      </div>
					    </div>
						<div class="form-group">
						  <button data-ng-click="goBack()" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Back</button>
						  <button data-ng-click="save()" data-ng-disabled="!offshoreNewForm.$valid" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-save"></span> Save</button>
						</div>
					</form>
				</div>
				<div data-ng-switch-when="edit">
					<form name="offshoreEditForm" >
						<div class="form-group">
							<label for="select" class="col-lg-2 control-label">Business Line</label>
							<div class="col-lg-10">
								<select class="form-control"  data-ng-model="price.businessLineId" required="required">
							      <option data-ng-repeat="option in blines" value="{{option.businesslineId}}">{{option.businesslineName}}</option>
							    </select>
							</div>
						</div>
						<div class="form-group">
							<label for="select" class="col-lg-2 control-label">Band</label>
							<div class="col-lg-10">
								<select class="form-control"  data-ng-model="price.bandId" required="required">
							      <option data-ng-repeat="option in bands" value="{{option.bandId}}">{{option.bandName}}</option>
							    </select>
							</div>
						</div>
						<div class="form-group">
							<label for="select" class="col-lg-2 control-label">Stay</label>
							<div class="col-lg-10">
								<select class="form-control"  data-ng-model="price.stayTypeId" required="required">
							      <option data-ng-repeat="option in stayTypes" value="{{option.stayTypeId}}">{{option.stayType}}</option>
							    </select>
							</div>
						</div>
						<div class="form-group">
						  <label class="col-lg-2 control-label" for="focusedInput">Price</label>
						  <input class="form-control" id="focusedInput" type="text" maxlength="4" pattern="\d{0,4}" data-ng-model="price.price" required="required" placeholder="Price">
						</div>
						<div class="form-group">
					      <label for="textArea" class="col-lg-2 control-label">Description</label>
					      <div class="col-lg-10">
					        <textarea class="form-control" rows="3" id="textArea" required="required" data-ng-model="price.description"></textarea>
					        <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
					      </div>
					    </div>
						<div class="form-group">
						  <button data-ng-click="goBack()" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Back</button>
						  <button data-ng-click="update()" data-ng-disabled="!offshoreEditForm.$valid" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-save"></span> Save</button>
						</div>
					</form>
				</div>
				<div data-ng-switch-default>
					<table class="table table-striped table-hover ">
						<thead>
							<tr>
								<th colspan="7">
									<input type="text" data-ng-model="offshoreFilter"  placeholder="Search...">
									<button class="btn btn-warning btn-sm pull-right" data-ng-click="newprice()"><span class="glyphicon glyphicon-plus"></span> New</button>
								</th>
							</tr>
							<tr>
								<th>ID#</th>
								<th>Business Line</th>
								<th>Band</th>
								<th>Stay Type</th>
								<th>Price</th>
								<th>Description</th>
								<th>Edit/Del</th>
							</tr>
						</thead>
						<tbody data-ng-repeat="price in offshoreprices | filter:offshoreFilter">
							<tr>
								<td>{{price.offshorepriceId}}</td>
								<td>{{price.businessLineName}}</td>
								<td>{{price.bandName}}</td>
								<td>{{price.stayType}}</td>
								<td>{{price.price}}</td>
								<td class="wrap">{{price.description}}</td>
								<td>
									<button data-ng-click="edit(price.offshorepriceId)" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-edit"></span></button>
									<button data-ng-click="remove(price.offshorepriceId)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>