<blockquote>
	<p>
		A contract is created with name as <i>{{contract.contractName}}</i>
		for the customer <b>{{contract.customerName}}</b>. Expected to start
		contract from {{contract.contractStartDate | date:'dd MMM yyyy'}} and
		ends on {{contract.contractEndDate | date:'dd MMM yyyy'}}. Contract is
		<strong>{{contract.status}}</strong> status.
	</p>
	<small> <cite title="Source Title">{{currentUser.userName}}</cite></small>
</blockquote>
<div class="well well-sm">
	<h4><strong>Fixed hours</strong></h4>
	<hr/>
	<div class="row">
		<div class="col-sm-3 col-md-3 col-lg-3">
			<!-- side panel -->
			<select  multiple="multiple" class="form-control" size="15" style="height:100%" data-ng-model="selectedFixedTypes">
		      <option data-ng-repeat="option in fixedHoursDataSet" value="{{option}}">{{option.fixedcostName}}</option>
		    </select>
					<button class="btn btn-sm btn-primary" type="button"
						data-ng-click="addFixedHourBilling()">Select</button>
		</div>
		<div class="col-sm-8 col-md-8 col-lg-8">
			<!--Body content-->	
			<form class="form-horizontal" name="fixedHourForm">
				<table class="table table-bordered table-hover table-condensed">
				<thead>
					<tr>
						<th>Fixed Cost</th>
						<th>Value</th>
						<th>Description</th>
						<th>Edit/Del</th>
					</tr>
				</thead>
				<tbody data-ng-repeat="fixedHour in fixedProjectHoursList">
					<tr>
						<td>{{fixedHour.fixedcostName}}</td>
						<td><input type="text" pattern="\d{0,3}" required="required" maxlength="3" size="3" data-ng-model="fixedHour.price" title="Only numeric value is allowed."/></td>
						<td>
							<textarea class="form-control" rows="3" id="textArea"
									data-ng-model="fixedHour.description"></textarea>
						</td>
						<td>
							<button class="btn btn-block btn-danger outline" type="button">
							<span class="glyphicon glyphicon-trash" data-ng-click="removeItem(fixedHour)"></span>
							</button>
						</td>
					</tr>
				</tbody>
				<tfoot data-ng-show="fixedProjectHoursList.length >0">
					<tr>
					<td colspan="4"><button class="btn btn-sm btn-warning pull-left" type="button"
						data-ng-click="resetFixedHours()">Reset</button>
						<button class="btn btn-sm btn-warning pull-right" type="button"
						data-ng-click="saveFixedHours()" data-ng-disabled="!fixedHourForm.$valid">Save</button></td>
					</tr>
				</tfoot>
			</table>
			</form>
			
		</div>
	</div>
</div>