<div class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title">Monthly billing view</h3>
	</div>
	<div class="panel-body" style="overflow:auto;">
	<table class="table table-bordered table-hover table-condensed">
		<tr>
			<td><strong>Resource</strong></td>
			<td >
				<table class="table table-condensed">
					<tbody>
						<tr>
							<td data-ng-repeat="header in headerMonths">
								<input type="text" class="btn btn-sm btn-default" readonly="readonly"
									maxlength="5" size="5" data-ng-click="openWeek(header)"
									value="{{header}}" />
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr data-ng-repeat="resource in resources">
			<td data-ng-if="resource.resourceType.resourceType=='Offshore'">
				<input type="text" readonly="readonly" data-toggle="tooltip" data-placement="auto" class="has-popover"
				title="{{resource.resourceType.resourceType}}, {{resource.businessLine.businesslineName}}, {{resource.band.bandName}}, {{resource.stayType.stayType}}, {{resource.price}}" 
				value="{{resource.resourceType.resourceType}} => Price: {{resource.price | currency}}">
			</td>
			<td data-ng-if="resource.resourceType.resourceType=='Onshore'">
				<input type="text" readonly="readonly" data-toggle="tooltip" data-placement="auto" class="has-popover"
				title="{{resource.resourceType.resourceType}}, {{resource.businessLine.businesslineName}}, {{resource.skill.skillName}}, {{resource.role.roleType}}, {{resource.grade.gradeType}}, {{resource.price}}"
				value="{{resource.resourceType.resourceType}} => Price: {{resource.price | currency}}">
			</td>
			<td>
				<table class="table table-bordered table-hover table-condensed" >
						<tbody>
							<tr>
								<td data-ng-repeat="month in resource.months.month">
									<button class="btn btn-sm btn-default" data-ng-click="openWeek(month.name)">{{month.total | currency}}</button>
								</td>
							</tr>
						</tbody>
					</table>
			</td>
		</tr>
	</table>
		<div class="row">
			<div class="col-xs-12 col-md-12 col-lg-12">
				<button data-ng-click="manageView('')">
					Back <span class="glyphicon glyphicon-circle-arrow-left"></span>
				</button>
				<button class="btn btn-warning pull-right"
					data-ng-click="bookHours()">
					Book Hours <span class="glyphicon glyphicon-floppy-disk"></span>
				</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
$('[data-toggle="tooltip"]').tooltip();
</script>