<div class="container">
	<div class="well">
		<form class="form-horizontal" name="CreateContractForm" novalidate >
			<fieldset>
				<legend>Create Contract</legend>
				<div class="form-group" data-ng-class="{ 'has-error' : CreateContractForm.customerName.$invalid && (CreateContractForm.customerName.$dirty || CreateContractForm.customerName.$pristine)}">
					<label class="col-lg-2 control-label">Customer Name</label>
					<div class="col-xs-4 col-md-4 col-lg-4">
						<input type="text" name="customerName" class="form-control" required 
							data-ng-model="contract.customerName" placeholder="Customer Name" data-ng-minlength="3" data-ng-maxlength="20">
				            <p data-ng-show="CreateContractForm.customerName.$error.minlength" class="help-block">Customer name is too short.</p>
				            <p data-ng-show="CreateContractForm.customerName.$error.maxlength" class="help-block">Customer name is too long.</p>
							<p data-ng-show="CreateContractForm.customerName.$touched && CreateContractForm.customerName.$pristine" class="help-block">Customer name is required.</p>
					</div>
				</div>
				<div class="form-group" data-ng-class="{ 'has-error' : CreateContractForm.contractName.$invalid && (CreateContractForm.contractName.$dirty ||CreateContractForm.contractName.$pristine) }">
					<label class="col-lg-2 control-label">Contract Name</label>
					<div class="col-xs-4 col-md-4 col-lg-4">
						<input type="text" name="contractName" class="form-control" required
							data-ng-model="contract.contractName" placeholder="Contract Name" data-ng-minlength="3" data-ng-maxlength="20">
				            <p data-ng-show="CreateContractForm.contractName.$error.minlength" class="help-block">Contract Name is too short.</p>
				            <p data-ng-show="CreateContractForm.contractName.$error.maxlength" class="help-block">Contract Name is too long.</p>
							<p data-ng-show="CreateContractForm.contractName.$touched && CreateContractForm.contractName.$pristine" class="help-block">Contract Name is required.</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-2 control-label">Contract</label>
					<div class="col-xs-2 col-md-2 col-lg-2" data-ng-class="{ 'has-error' : CreateContractForm.contractStartDate.$invalid && (CreateContractForm.contractStartDate.$dirty || CreateContractForm.contractStartDate.$pristine) }">
						Start 
						<input type="date" name="contractStartDate" min="{{fromDt.minDate | date:'yyyy-MM-dd'}}" max="{{fromDt.maxDate | date:'yyyy-MM-dd'}}" 
								data-ng-change="startDtChanged()" required	value="{{contract.contractStartDate}}" data-ng-model="contract.contractStartDate">
					</div>
					<div class="col-xs-2 col-md-2 col-lg-2" data-ng-class="{ 'has-error' : CreateContractForm.contractEndDate.$invalid && (CreateContractForm.contractEndDate.$dirty || CreateContractForm.contractEndDate.$pristine) }">
						End
 						<input type="date" name="contractEndDate" value="{{contract.contractEndDate}}" data-ng-required="true" min="{{toDt.minDate | date:'yyyy-MM-dd'}}" max="{{toDt.maxDate | date:'yyyy-MM-dd'}}" data-ng-model="contract.contractEndDate"/>
					</div>
						<p data-ng-show="CreateContractForm.contractStartDate.$pristine && CreateContractForm.contractStartDate.$touched" class="help-block">Start date is required.</p>
						<p data-ng-show="CreateContractForm.contractEndDate.$pristine && CreateContractForm.contractEndDate.$touched" class="help-block">End date is required.</p>
						<p data-ng-show="CreateContractForm.contractStartDate.$error.minlength" class="help-block">Customer name is too short.</p>
						<p data-ng-show="CreateContractForm.contractEndDate.$error.minlength" class="help-block">Customer name is too short.</p>
				        <p data-ng-show="CreateContractForm.contractStartDate.$error.maxlength" class="help-block">Customer name is too long.</p>
				        <p data-ng-show="CreateContractForm.contractEndDate.$error.maxlength" class="help-block">Customer name is too long.</p>
				</div>
				<div class="form-group" data-ng-class="{ 'has-error' : CreateContractForm.comments.$invalid && CreateContractForm.comments.$touched}">
					<label for="textArea"
						class="col-xs-2 col-md-2 col-lg-2 control-label">Comments</label>
					<div class="col-xs-6 col-md-6 col-lg-6" >
						<textarea class="form-control" rows="3" name="comments" id="textArea"
							data-ng-model="contract.comments"></textarea>
						<p data-ng-show="CreateContractForm.comments.$invalid" class="help-block">Only alphanumeric is allowed.</p>
						<span class="help-block">A longer block of help text that
							breaks onto a new line and may extend beyond one line.</span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-xs-12 col-md-12 col-lg-12">
						<button type="button" class="btn btn-primary" data-ng-click="goBack()"> 
							<span class="glyphicon glyphicon-floppy-disk"></span> Back</button>
						<button type="button" class="btn btn-primary" data-ng-click="createContract()"
						data-ng-disabled="CreateContractForm.$invalid">
							<span class="glyphicon glyphicon-floppy-disk"></span> Save</button><!-- 
						<button type="button" class="btn btn-warning pull-right" data-ng-click="bookHours()"> 
							<span class="glyphicon glyphicon-time"></span> KT Hours</button> -->
					</div>
				</div>
			</fieldset>
		</form>
		<!-- end of new form -->
	</div>
</div>
